version: "3.9"

services:
  web:
    container_name: honeypot_server
    build: .
    command:
      - /bin/bash
      - -c
      - |
        python3 manage.py migrate
        python3 manage.py create_admin
        python3 manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
