version: '3.4'
services:
  honeypot-{{ honeypot.name }}-{{ honeypot_id }}:
    image: {{ honeypot.image }}
    container_name: {{ honeypot.name }}
    restart: always
    cap_drop:
      - ALL
{% if honeypot_ports and honeypot_ports[0] %}
    ports:
{% for port in honeypot_ports %}
      - "{{ port }}"
{% endfor %}
{% endif %}
{% if syslog_ip %}
    logging:
      driver: syslog
      options:
        syslog-address: "tcp://{{ syslog_ip }}:514"
        tag: "{{ honeynet.name }}/{{ honeypot.name }}"
{% endif %}
    networks:
      honeynet_bridge:
{% if honeypot.ip_addr and not update %}
        ipv4_address: {{ honeypot.ip_addr }}
{% endif %}
networks:
  honeynet_bridge:
    external: true
    name: {{ honeynet.name }}
