version: '3.4'
services:
  honeypot-{{ honeypot.name }}-{{ honeypot_id }}:
    image: {{ honeypot.image }}
{% if honeypot_ports and honeypot_ports[0] %}
    ports:
{% for port in honeypot_ports %}
      - "{{ port }}"
{% endfor %}
{% endif %}
    logging:
      driver: syslog
      options:
        syslog-address: "udp://10.10.80.231:514"
        syslog-format: "rfc3164"
        tag: "node-red2"
    networks:
      honeynet_bridge:
{% if honeypot.ip_addr and not update %}
        ipv4_address: {{ honeypot.ip_addr }}
{% endif %}
networks:
  honeynet_bridge:
    external: true
    name: {{ honeynet.name }}
