version: '3.4'
services:
  honeypot-{{ honeypot.name }}-monitoring-{{ honeypot_id }}:
    image: quay.io/mnecas0/honeypot-base:latest
    restart: always
    environment:
      DEBUG: 1
      SERVER: "127.0.0.1:8000"
      TOKEN: "{{ honeypot_token }}"
      ID: "{{ honeypot_id }}"
      TCPDUMP_FILTER: "host $HONEYPOT_ADDR {% if honeypot.tcpdump_filter %} and {{ honeypot.tcpdump_filter }}{% endif %}"
      TCPDUMP_MAX_SIZE: "{{ honeypot.tcpdump_max_size }}"
      TCPDUMP_TIMEOUT: "{{ honeypot.tcpdump_timeout }}"
      TCPDUMP_EXTRAARGS: "$EXTRA_ARGS {{ honeypot.tcpdump_extra_args }}"
    network_mode: host
