version: '3.4'
services:
  honeypot-{{ honeypot.name }}-{{ honeypot_id }}:
    image: {{ honeypot.image }}
{% if honeypot.ports %}
    ports:
      - "8000:8000"
{% endif %}
    networks:
      - {{ honeynet.name }}
networks:
  {{ honeynet.name }}:
{% if honeynet.subnet %}
    ipam:
      driver: default
      config:
        - subnet: {{ honeynet.subnet }}
{% endif %}
