version: '3.4'
services:
  honeypot-{{ honeypot.name }}-{{ honeypot_id }}:
    image: {{ honeypot.image }}
{% if honeypot_ports %}
    ports:
{% for port in honeypot_ports %}
      - "{{ port }}"
{% endfor %}
{% endif %}
    networks:
      - {{ honeynet.name }}
networks:
  {{ honeynet.name }}:
{% if honeynet.subnet %}
    ipam:
      driver: default
      config:
        - subnet: {{ honeynet.subnet }}
{% endif %}
