[Unit]
After=honeypot-data-server.service network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=1
WorkingDirectory=/home/mnecas/honeypot-data-server
ExecStart=haproxy -f deployment/haproxy.cfg

[Install]
WantedBy=multi-user.target

