{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="{% static 'main/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'main/css/bootstrap-theme.min.css' %}"
      rel="stylesheet"
    />
  </head>
  <body>

    {% include "navbar.html" %}

    {% block content %}
    {% endblock %}
    <script
      src="{% static 'main/js/bootstrap.min.js' %}"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </body>
</html>
