{% extends "base.html" %} {% block content %}

<div class="m-4">

  <form action="edit" method="post">
    {% csrf_token %}
    <div id="original-params">
      <h3>{{ honeypot.name }}</h3>
      <h4>Type: {{ honeypot.type }}</h4>
      <h4>Token: {{ token }}</h4>
    </div>
    <div id="edit-params" style="display: none;">
      <b>Name: </b><input type="text" class="form-control" placeholder="{{ honeypot.name }}" name="name"></input>
      <b>Type: </b><input type="text" class="form-control" placeholder="{{ honeypot.type }}" name="type"></input>
      <button class="btn btn-outline-primary m-1" type="submit">Submit</button>
    </div>

    <div class="d-flex justify-content-end">
      <a class="btn btn-outline-primary m-1" onclick="showDiv()">
        Edit
      </a>
    </div>
  </form>
  <hr/>
  <form action="export" method="post">
    {% csrf_token %}
    <h3>Specific data</h3>
    <div class="table-responsive">
      <table id="attack_table" class="table table-striped">
        <thead>
          <tr>
            <th scope="col" width="5px">Select</th>
            <th scope="col" width="200px">Timestamp</th>
            <th scope="col">Attacker(address - port - mac)</th>
            {% for key in data_keys %}
            <th scope="col">{{ key }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for item in attacks %}
          <tr>
            <td>
              <input
                class="form-check-input"
                type="checkbox"
                name="attacks_checkboxes"
                value="{{ item.id }}"
                id="flexCheckDefault"
              />
            </td>
            <td>{{ item.timestamp }}</td>
            <td>{{ item.attacker }}</td>
            {% for key in data_keys %}
            <td>{{ item.data|get_item:key }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <hr />
    <h3>Dumps</h3>
    <div class="table-responsive">
      <table id="dump_table" class="table table-striped">
        <thead>
          <tr>
            <th scope="col" width="5px">Select</th>
            <th scope="col" width="200px">Timestamp</th>
            <th scope="col">Path</th>
          </tr>
        </thead>
        <tbody>
          {% for item in dumps %}
          <tr>
            <td>
              <input
                class="form-check-input"
                type="checkbox"
                name="dumps_checkboxes"
                value="{{ item.id }}"
                id="flexCheckDefault"
              />
            </td>
            <td>{{ item.timestamp }}</td>
            <td>{{ item.path }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-outline-primary m-1"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Export
    </button>
    <button class="btn btn-outline-danger m-1" type="submit" formaction="delete">
      Delete
    </button>
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Export data</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div>
              Join pcaps before export:
              <input
                class="form-check-input"
                type="checkbox"
                name="join_checkbox"
                value="1"
                id="flexCheckDefault"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary m-1"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button id="export" type="submit" class="btn btn-outline-primary">
              Export
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<link
  href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"
  rel="stylesheet"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready(function () {
    $("#attack_table").DataTable();
    $("#dump_table").DataTable();
  });

  let i = 0;
  function showDiv() {
    if(i%2===0){
      document.getElementById("edit-params").style.display = "block";
      document.getElementById("original-params").style.display = "none";
    } else{
      document.getElementById("edit-params").style.display = "none";
      document.getElementById("original-params").style.display = "block";
    }
    i++;
  }
</script>
{% endblock %}
