{% extends "base.html" %}

{% block content %}

<div class="m-4">
  <h2>Specific data</h2>
  <div class="table-responsive">
    <table id="attack_table" class="table table-striped" >
      <thead>
        <tr>
          <th scope="col">timestamp</th>
          <th scope="col">attacker(address - port - mac)</th>
          {% for key in data_keys %}
          <th scope="col">{{ key }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for item in attacks %}
        <tr>
          <td>{{ item.timestamp }}</td>
          <td>{{ item.attacker }}</td>
          {% for key in data_keys %}
          <td>{{ item.data|get_item:key }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <hr>
  <h2>Dumps</h2>
  <div class="table-responsive">
    <table id="dump_table" class="table table-striped" >
      <thead>
        <tr>
          <th scope="col">timestamp</th>
          <th scope="col">path</th>
        </tr>
      </thead>
      <tbody>
        {% for item in dumps %}
        <tr>
          <td>{{ item.timestamp }}</td>
          <td>{{ item.path }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready(function () {
    $('#attack_table').DataTable();
    $('#dump_table').DataTable();
  });
</script>
{% endblock %}
