{% extends "base.html" %} {% block content %}

{% load static %}
<script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-graph.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-data-adapter.min.js"></script>

<style type="text/css">
  #graphcontainer {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;

  }
</style>

{% include "modal.html" %}
<div class="m-4">
  <form action="." method="post">
    {% csrf_token %}
    <div class="col">
      <b>Name:</b><input type="text" class="form-control" name="name" placeholder="{{ honeynet.name }}"></input>
    </div>
    <div class="row">
      <div class="col">
        <b>ESXi hostname:</b><input type="text" class="form-control" name="hostname" placeholder="{{ honeynet.hostname }}"></input>
      </div>
      <div class="col">
        <b>ESXi username:</b><input type="text" class="form-control" name="username" placeholder="{{ honeynet.username }}"></input>
      </div>
      <div class="col">
        <b>ESXi password:</b><input type="password" class="form-control" name="password"></input>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b>Physical nic:</b><input type="text" class="form-control" name="nic" placeholder="{{ honeynet.nic }}"></input>
      </div>

      <div class="col">
        <b>Switch name:</b><input type="text" class="form-control" name="switch" placeholder="{{ honeynet.switch }}"></input>
      </div>
    </div>
    <button class="btn btn-outline-primary m-1" type="submit" id='main_submit_btn'>Submit</button>
    {% if honeynet %}
    <hr>
    <div id="graphcontainer"></div>
    <hr>
    <div class="me-auto">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#honeypotModal" id="add_honeypot_btn">
        Add Honeypot
      </button>
    </div>
    {% endif %}
  </form>
</div>


<!-- Modal -->
{% for item in honeypots %}
{% include "modal.html" %}
{% endfor %}
<div id="demo"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script>
  let graphdata = {
    "nodes": [
      {
        "id": "switch",
        "name": "VSwitch",
        "type": "switch",
        "height": 50,
        "fill": {
          "src": "{% static 'main/switch.png' %}"
        }
      },
      {
        "id": "data",
        "name": "Data",
        "type": "data",
        "height": 50,
        "fill": {
          "src": "{% static 'main/data.webp' %}"
        }
      },
      {
        "id": "mirroring",
        "name": "Mirroring",
        "type": "mirroring",
        "compose": "",
        "ovf": "",
        "vm_username": "",
        "vm_password": "",
        "height": 50,
        "fill": {
          "src": "{% static 'main/mirroring.webp' %}"
        }
      }
      {% for honeypot in honeypots %}
      ,{
        "id": "{{ honeypot.id }}",
        "name": "{{ honeypot.name }}",
        "type": "honeypot",
        "compose": `{{ honeypot.compose }}`,
        "ovf": "{{ honeypot.ovf }}",
        "vm_username": "{{ honeypot.vm_username }}",
        "vm_password": "{{ honeypot.vm_password }}",
        "height": 50,
        "fill": {
          "src": "{% static 'main/favicon.ico' %}"
        }
      }
      {% endfor %}
    ],
    "edges": [
      {
        "from": "data",
        "to": "switch"
      },
      {
        "from": "mirroring",
        "to": "switch"
      }
      {% for honeypot in honeypots %}
      ,{
        "from": "{{ honeypot.id }}",
        "to": "switch"
      }
      {% endfor %}
    ]
  }
  var chart = anychart.graph(graphdata);
  var nodes = chart.nodes();
  // set the size of nodes
  nodes.normal().height(30);
  nodes.hovered().height(45);
  nodes.selected().height(45);

  // set the stroke of nodes
  nodes.normal().stroke(null);
  nodes.hovered().stroke("#333333", 3);
  nodes.selected().stroke("#333333", 3);

  // enable the labels of nodes
  chart.nodes().labels().enabled(true);

  // configure the labels of nodes
  chart.nodes().labels().format("{%name}");
  chart.nodes().labels().fontSize(12);
  chart.nodes().labels().fontWeight(600);
  // draw the chart
  chart.container("graphcontainer").draw();

  // onclick
  chart.listen('click', function(e) {
    var tag = e.domTarget.tag;
    if (tag) {
      if (tag.type === 'node') {
        for (var i = 0; i < graphdata.nodes.length; i++) {
{% for honeypot in honeypots %}
          if ("{{ honeypot.id }}" == tag.id  && graphdata.nodes[i].type == "honeypot") {
            let myModal = new bootstrap.Modal(document.getElementById('honeypotModal-{{ honeypot.id }}'), {});
            myModal.show();
            break;
          }
{% endfor %}
        }
      }
    }
  });
</script>
{% endblock %}
