{% extends "base.html" %} {% block content %}

{% load static %}
<script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-graph.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-data-adapter.min.js"></script>

<style type="text/css">
  #graphcontainer {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
  }
  .myspinner {
    display: none;
  }
</style>

<div class="m-4">
  <form action="." method="post" id="honeynet-form">
    {% csrf_token %}
    <div class="row">
      <div class="col">
        <b>Name:</b><input type="text" class="form-control" name="name" value="{{ honeynet.name }}"  {% if honeynet %} disabled {%endif%}></input>
      </div>
      <div class="col">
        <b>Subnet:</b><input type="text" class="form-control" name="subnet" value="{{ honeynet.subnet }}" {% if honeynet %} disabled {%endif%}></input>
      </div>
    </div>
    {% if honeynet %}
    <hr>
    <div id="graphcontainer"></div>
    <hr>
    {% endif %}
  </form>
  {% if honeynet %}
  <button onclick="redir()" class="btn btn-outline-primary disable-buttons">
    Add Honeypot
  </button>
  {% endif %}

  {% if not honeynet %}
  <button class="btn btn-primary m-1 disable-buttons" id="submit-btn" onclick="submitHoneynet()">
    <span class="spinner-border spinner-border-sm myspinner" role="status" aria-hidden="true" id="submit-spinner"></span>
    <span class="sr-only">Submit</span>
  </button>
  {% endif %}

  {% if honeynet and honeynet.id %}
  <button class="btn btn-danger disable-buttons" id="delete-btn" onclick="deleteHoneynet()">
    <span class="spinner-border spinner-border-sm myspinner" role="status" aria-hidden="true" id="delete-spinner"></span>
    <span class="sr-only">Delete</span>
  </button>
  {% endif %}

  {% if error %}
  <br>
  <div class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  {% endif %}
  {% if error_lines %}
  <br>
  <div class="alert alert-danger" role="alert">
    {% for error in error_lines %}
      {{ error }}<br/>
    {% endfor %}
  </div>
  {% endif %}
</div>
<div id="demo"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script>
  let graphdata = {
    "nodes": [
      {
        "id": "switch",
        //"name": "VSwitch",
        "height": 50,
        "fill": {
          "src": "{% static 'main/switch.png' %}"
        }
      }/*,,
      {
        "id": "data",
        "name": "Data",
        "height": 50,
        "fill": {
          "src": "{% static 'main/data.webp' %}"
        }
      }
      ,{
        "id": "mirroring",
        "name": "Mirroring",
        "height": 50,
        "fill": {
          "src": "{% static 'main/mirroring.webp' %}"
        }
      }*/
      {% for honeypot in honeypots %}
      ,{
        "id": "{{ honeypot.id }}",
        "name": "{{ honeypot.name }}",
        "type": "honeypot",
        "height": 50,
        "fill": {
          "src": "{% static 'main/favicon.ico' %}"
        }
      }
      {% endfor %}
    ],
    "edges": [
      {
        "from": "data",
        "to": "switch"
      },
      {
        "from": "mirroring",
        "to": "switch"
      }
      {% for honeypot in honeypots %}
      ,{
        "from": "{{ honeypot.id }}",
        "to": "switch"
      }
      {% endfor %}
    ]
  }
  var chart = anychart.graph(graphdata);
  var nodes = chart.nodes();
  // set the size of nodes
  nodes.normal().height(30);
  nodes.hovered().height(45);
  nodes.selected().height(45);

  // set the stroke of nodes
  nodes.normal().stroke(null);
  nodes.hovered().stroke("#333333", 3);
  nodes.selected().stroke("#333333", 3);

  // enable the labels of nodes
  chart.nodes().labels().enabled(true);

  // configure the labels of nodes
  chart.nodes().labels().format("{%name}");
  chart.nodes().labels().fontSize(12);
  chart.nodes().labels().fontWeight(600);
  // draw the chart
  chart.container("graphcontainer").draw();

  // onclick
  chart.listen('click', function(e) {
    var tag = e.domTarget.tag;
    if (tag) {
      if (tag.type === 'node') {
        for (var i = 0; i < graphdata.nodes.length; i++) {
{% for honeypot in honeypots %}
          if ("{{ honeypot.id }}" == tag.id  && graphdata.nodes[i].type == "honeypot") {
            window.location.replace('{% url 'honeypots_detail' honeynet.id honeypot.id %}');
            break;
          }
{% endfor %}
        }
      }
    }
  });

  let form = document.getElementById("honeynet-form");
  let submitSpinner = document.getElementById("submit-spinner");
  let deleteSpinner = document.getElementById("delete-spinner");
  let submitBtn = document.getElementById("submit-btn");
  let delteBtn = document.getElementById("delete-btn")

  function showSpinner(spinner){
    spinner.style.display="inline-block";
  }

  function disableButtons(){
    let btns = document.getElementsByClassName("disable-buttons")
    for (const btn of btns) {
      btn.disabled = true;
    }
  }

  function deleteHoneynet() {
    disableButtons();
    showSpinner(deleteSpinner);
    window.location.href = 'delete/';
  }

  function submitHoneynet(){
    disableButtons()
    showSpinner(submitSpinner);
    form.submit();
  }
  function redir(){
    window.location.href="{% if honeynet %}{% url 'honeypots' honeynet.id %}{% endif %}"
  };
</script>
{% endblock %}
