{% extends "base.html" %} {% block content %}

{% load static %}
<script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-graph.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-data-adapter.min.js"></script>

<style type="text/css">
  #graphcontainer {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;

  }
</style>

<div class="m-4">
  <div>
    <b>Name: </b><input type="text" class="form-control" name="name"></input>
    {% comment %} <b>Type: </b><input type="text" class="form-control" name="type"></input> {% endcomment %}
    <br>
    <div id="graphcontainer"></div>
    <br>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data->
      Add Honeypot
    </button>
    <button class="btn btn-outline-primary m-1" type="submit" onclick="sendData()">Submit</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <input id="honeypot-id" type="hidden">
          <div class="mb-3">
            <label for="honeypot-name" class="col-form-label">Honeypot name:</label>
            <input type="text" class="form-control" id="honeypot-name">
          </div>
          <div class="mb-3">
            <label for="docker-compose" class="col-form-label">Docker compose:</label>
            <textarea class="form-control" id="docker-compose"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="addHoneypot()" data-bs-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="{% static 'main.js' %}"></script>

<script>
  $('#exampleModal').on('hidden.bs.modal', function () {
    list = ["honeypot-name","docker-compose","honeypot-id"]
    for (let i = 0; i < list.length; i++) {
      document.getElementById(list[i]).value = "";
    }
  })

  let graphdata = {
    "nodes": [
      {
        "id": "switch",
        "name": "VSwitch",
        "type": "switch",
        "compose": "",
        "height": 50,
        "fill": {
          "src": "{% static 'main/switch.png' %}"
        }
      },
      {
        "id": "data",
        "name": "Data",
        "type": "data",
        "compose": "",
        "height": 50,
        "fill": {
          "src": "{% static 'main/data.webp' %}"
        }
      },
      {
        "id": "mirroring",
        "name": "Mirroring",
        "type": "mirroring",
        "compose": "",
        "height": 50,
        "fill": {
          "src": "{% static 'main/mirroring.webp' %}"
        }
      }
    ],
    "edges": [
      {
        "from": "data",
        "to": "switch"
      },
      {
        "from": "mirroring",
        "to": "switch"
      }
    ]
  }
  renderGraph(graphdata);
</script>
{% endblock %}
