{% extends "base.html" %} {% block content %}

{% load static %}
<script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-graph.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-data-adapter.min.js"></script>

<style type="text/css">
  #graphcontainer {
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;

  }
</style>

<div class="m-4">
  <div>
    <div class="col">
      <b>Name:</b><input type="text" class="form-control" id="name"></input>
    </div>
    <div class="row">
      <div class="col">
        <b>ESXi hostname:</b><input type="text" class="form-control" id="hostname"></input>
      </div>
      <div class="col">
        <b>ESXi username:</b><input type="text" class="form-control" id="username" value="{{ honeynet. }}"></input>
      </div>
      <div class="col">
        <b>ESXi password:</b><input type="password" class="form-control" id="password"></input>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b>Physical nic:</b><input type="text" class="form-control" id="nic"></input>
      </div>

      <div class="col">
        <b>Switch name:</b><input type="text" class="form-control" id="switch"></input>
      </div>
    </div>
    <br>
    <div id="graphcontainer"></div>
    <br>
    <div class="me-auto">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="add_honeypot_btn">
        Add Honeypot
      </button>
      <button class="btn btn-outline-primary m-1" type="submit" onclick="sendData()" id='main_submit_btn'>Submit</button>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create honeypot</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <input id="honeypot_id" type="hidden">
          <div class="mb-3">
            <label for="honeypot_name" class="col-form-label"><b>Honeypot name:</b></label>
            <input type="text" class="form-control" id="honeypot_name">
          </div>
          <div class="mb-3">
            <label for="docker_compose" class="col-form-label"><b>Docker compose:</b></label>
            <textarea class="form-control" id="docker_compose"></textarea>
          </div>
          <hr>
          <div class="mb-3">
            <label for="ovf" class="col-form-label"><b>OVF:</b></label>
            <input type="text" class="form-control" id="ovf">
          </div>
          <div class="row">
            <div class="col">
              <b>VM username:</b><input type="text" class="form-control" name="name" id="vm_username"></input>
            </div>
            <div class="col">
              <b>VM password:</b><input type="password" class="form-control" name="name" id="vm_password"></input>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="addHoneypot()" data-bs-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>
<div id="demo"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="{% static 'main.js' %}"></script>

<script>
  $('#exampleModal').on('hidden.bs.modal', function () {
    list = ["honeypot_name","docker_compose","honeypot_id","ovf","vm_username","vm_password"]
    for (let i = 0; i < list.length; i++) {
      document.getElementById(list[i]).value = "";
    }
  })

  let graphdata = {
    "nodes": [
      {
        "id": "switch",
        "name": "VSwitch",
        "type": "switch",
        "height": 50,
        "fill": {
          "src": "{% static 'main/switch.png' %}"
        }
      },
      {
        "id": "data",
        "name": "Data",
        "type": "data",
        "height": 50,
        "fill": {
          "src": "{% static 'main/data.webp' %}"
        }
      },
      {
        "id": "mirroring",
        "name": "Mirroring",
        "type": "mirroring",
        "compose": "",
        "ovf": "",
        "vm_username": "",
        "vm_password": "",
        "height": 50,
        "fill": {
          "src": "{% static 'main/mirroring.webp' %}"
        }
      }
      {% for honeypot in honeypots %}
      ,{
        "id": "{{ honeypot.id }}",
        "name": "{{ honeypot.name }}",
        "type": "honeypot",
        "compose": "{{ honeypot.compose }}",
        "ovf": "{{ honeypot.ovf }}",
        "vm_username": "{{ honeypot.vm_username }}",
        "vm_password": "{{ honeypot.vm_password }}",
        "height": 50,
        "fill": {
          "src": "{% static 'main/favicon.ico' %}"
        }
      }
      {% endfor %}
    ],
    "edges": [
      {
        "from": "data",
        "to": "switch"
      },
      {
        "from": "mirroring",
        "to": "switch"
      }
      {% for honeypot in honeypots %}
      ,{
        "from": "{{ honeypot.id }}",
        "to": "switch"
      }
      {% endfor %}
    ]
  }
  renderGraph(graphdata);
  function sendData(){
      //toggle(false);

      let data = new FormData();
      data.append("honeypots",JSON.stringify(graphdata["nodes"].filter(h => h.type == 'honeypot')));
      data.append("name",document.getElementById("name").value);
      data.append("hostname",document.getElementById("hostname").value);
      data.append("username",document.getElementById("username").value);
      data.append("password",document.getElementById("password").value);
      data.append("nic",document.getElementById("nic").value);
      data.append("switch",document.getElementById("switch").value);
      data.append("csrfmiddlewaretoken", '{{csrf_token}}');
      axios.post('/honeynets/', data)
          .then(res =>{
            window.location.replace("/");
          })
          .catch(errors => console.log(errors))
  }
</script>
{% endblock %}
