{% extends "base.html" %}

{% block content %}
<style type="text/css">
  .spinner {
    display: none;
  }
</style>
<div class="m-4">
  <h3>Honeynets</h3>
  <div class="table-responsive">
    <table id="honeypot_table" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Deployment</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for item in honeynets %}
        <tr>
          <td>{{ item.name }}</td>
          <td>
            <button class="btn btn-sm btn-success" id="startbtn_{{ item.id }}" onclick="sendData('{{ item.id }}')">
              Start
              <span class="spinner-border spinner-border-sm spinner" role="status" aria-hidden="true" id='spinner_{{ item.id }}'></span>
            </button>
          </td>
          <td>
            <a type="button" href="honeynets/{{ item.pk }}" class="btn btn-sm btn-info text-white">Edit</a>
            <a type="button" href="honeynets/{{ item.pk }}/delete" class="btn btn-sm btn-danger">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<link
  href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"
  rel="stylesheet"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $("#honeypot_table").DataTable();
  });

  function sendData(id){
    toggle(id,false);
    axios.get('/honeynets/'+id+'/start')
        .then(res =>{
          toggle(id,true);
          if(res['data']['rc']!=0){
            alert("Failed. Please checkout console")
            console.log(res['data']['stdout'])
          }
        })
        .catch(errors => console.log(errors))
}
  function toggle(id,state) {
    document.getElementById('startbtn_'+id).disabled=!state;
    x=document.getElementById('spinner_'+id)
    if (!state) {
      x.style.display = "inline-block";
    } else {
      x.style.display = "none";
    }
  }
</script>

{% endblock %}
