{% extends "base.html" %}
{% block content %}
<div class="m-4">
  <h3>Honeynets</h3>
  <div class="table-responsive">
    <table id="honeypot_table" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for item in honeynets %}
        <tr>
          <td>{{ item.name }}</td>
          <td>
            <a
              type="button"
              href="{% url 'honeynets_details' item.id %}"
              class="btn btn-sm btn-info text-white"
              >Edit</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% load static %}
<link
  href="{% static 'jquery/jquery.dataTables.min.css' %}"
  rel="stylesheet"
/>
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'jquery/jquery.dataTables.min.js' %}"></script>

{% endblock %}
