<sidebar>
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100vh">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Honeynets</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      {% for item in honeypots %}
      <li class="nav-item">
        <a href="/honeypots/{{item.id}}" class="nav-link text-white {% if item.id == honeypot.id %} active {% endif %}" aria-current="page">
          {{ item.name }}
        </a>
      </li>
      {% endfor%}
    </ul>
    <a class="btn btn-secondary" href="/add">Add</a>
  </div>
</sidebar>
