<sidebar>
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; height: 100vh">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Honeynets</span>
    </a>
    <hr>
    {% for honeynet,honeypots in honeynets.items %}

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a href="{% url 'honeynets_details' honeynet.id %}" class="nav-link text-white {% if honeynet.id == selected.id %} active {% endif %}">{{ honeynet.name }}</a>
        </li>
        <ul class="nav nav-pills flex-column">
          {% for honeypot in honeypots %}
          <li class="nav-item">
            <a href="{% url 'honeypots_detail' honeynet.id honeypot.id %}" class="nav-link text-white {% if honeypot.id == selected.id %} active {% endif %}" aria-current="page">
              ● {{ honeypot.name }}
            </a>
          </li>
          {% endfor%}
        </ul>
      </ul>
      <br>
    {% endfor%}
    <hr>
    <a class="btn btn-secondary" href="{% url 'honeynets' %}">Add</a>
  </div>
</sidebar>
